<div class="jumbotron">
  <h1>Welcome to my simple scraper!</h1>
  <p class="firstP">This scraper was created using HTML, CSS3, MongoDB, Javascript, and NodeJS. It utilizes several NPM packages including: cheerio, mongoose, express, handlebars, and request.</p>
    <button type="button" class="btn btn-default" id="scrape" onclick="theScraping()">Scrape!</button>
</div>
